body
{
    background-color:#e888ba;
    color:#370303;
    font-family: cursive;
    margin: 0;
    
    padding: 0 20px;
}
h1
{
    color:#370303;
    text-align: center;
    border-bottom: 1px solid #2d0303;
    padding-bottom: 10px;
}
img
{
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-container
{
    background-color: #6d103d;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.form-container h2
{
    margin-top: 0;
    font-size: 1.5rem;
    color: #370303;
    margin-bottom: 20px;
}
label
{
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 16px;
    color: #801037;
    font-size: 0.9rem;
}
input[type="text"],textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #8d3c48;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}
